# Xcode
DressageCaller.xcodeproj/xcuserdata/
DressageCaller.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Build output
build/
.build/
.swiftpm/

# Flipper build artifacts
flipper_ibeacon/.vscode/
flipper_ibeacon/dist/

# macOS
.DS_Store
